body {
    font-size: .85em;
    font-family: 'Ubuntu', sans-serif;
    color: #000;
    background-color: #808080;
}

header, footer, nav, section {
    display: block;
}

.cleaner { clear: both;}

.h { visibility: hidden;}

.mainPhoto {
    border: 10px solid #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 1000px;
    min-height: 667px;
    position: relative;
}

.mainPhotoHeader {
    background-color: #fff;
    height: 45px;
    text-align: right;
    padding: 10px 20px;
    font-size: 2.4em;
    margin-top: 40px;
    margin-bottom: 30px;
    -moz-opacity: 0.66;
    opacity: 0.66;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=66);
}

.galleryName {
    text-align: right;
    padding: 10px 30px;
    font-size: 2.4em;
    margin-top: 20px; 
    text-transform: uppercase;
    background-color: #fff;
    -moz-opacity: 0.66;
    opacity: 0.66;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=66);
    width: 300px;
    float: right;
}

.mainPhotoUserEmail {
    background-color: #fff;
    height: 25px;
    text-align: left;
    padding: 10px 20px;
    font-size: 1.4em;
    position: absolute;
    bottom: 20px;
    -moz-opacity: 0.55;
    opacity: 0.55;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=55);
}

