@model GalerieKusVola.ViewModels.AdminVM

<h2>Adminsitrace galerií</h2>

@if(Model.Galerie != null && Model.Galerie.Count > 0)
{
    <ul>
    @foreach (var galerie in Model.Galerie)
    {
        <li>
            @galerie.Nazev
            &nbsp; <a href="/Admin/GalleryEdit/@galerie.Id">editovat</a>
        </li>
    }
    </ul>
}

<a href="/Admin/GalleryEdit">nová galerie</a>

<hr />
<h2>Administrace typů fotek</h2>

@if(Model.TypyFotek != null && Model.TypyFotek.Count > 0)
{
    <ul>
        @foreach (var typ in Model.TypyFotek)
        {
            <li>
                @typ.JmenoTypu
                &nbsp; <a href="/Admin/PhotoTypeEdit/@typ.Id">editovat</a>
            </li>
        }
    </ul>
}

<a href="/Admin/PhotoTypeEdit">nový typ</a>
<hr />
<h2>Fotky čekající na zpracování</h2>

@if(Model.PhotosWaiting != null && Model.PhotosWaiting.Count > 0)
{
    foreach (var photo in Model.PhotosWaiting)
    {
        <li>@photo.FileName (@photo.UploadedDate.ToString("F"))</li>
    }
}


