@using MongoDB.Bson
@model GalerieKusVola.Core.ViewModels.AdminVM

<h2>Adminsitrace galerií</h2>

@if(Model.Galleries != null && Model.Galleries.Count > 0)
{
    var rootGallery = Model.Galleries.First(g => g.ParentId == ObjectId.Empty);
    
    <p>@rootGallery.Name (<a href="/admin/GalleryEdit/@rootGallery.Id">edit</a>)</p>
    
    @Html.Action("GalleryLeaf", "GalleryLeaf", new { area = "Partials", leafId = rootGallery.Id })
}

<li>Koš [počet fotek: @Model.Trash.PhotosCount]</li> <a href="/admin/ClearTrash">vymazat koš</a>
<br />

<a href="/Admin/GalleryEdit">nová galerie</a>

<hr />
<h2>Administrace typů fotek</h2>

@if(Model.PhotoTypes != null && Model.PhotoTypes.Count > 0)
{
    <ul>
        @foreach (var type in Model.PhotoTypes)
        {
            <li>
                @type.Name
                &nbsp; <a href="/Admin/PhotoTypeEdit/@type.Id">editovat</a>
            </li>
        }
    </ul>
}

<a href="/Admin/PhotoTypeEdit">nový typ</a>
<hr />

<a href="/Admin/ProcessUploadedPhotos">Zpracování uploadnutých fotek</a>


