<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>


    <div id="content" class="content">
        <div class="col-ab">
            <div class="bg-line-online">
                
                
                
                
                <div id="head">
                    <div class="thead">
                        <div class="fc0">
                            <br class="h">
                        </div>
                    </div>
                    <div class="fc0">
                        <br class="h">
                    </div>
                    <div class="head-bg" id="on-line-header-top">
                        <!--reload("on-line-header-top")-->
                        <div class="mhead">
                            <div class="col-m">
                                <h1>Jedovatý alkohol: otrávených a mrtvých přibývá  </h1>
                                <p></p>
                            </div>
                        </div>
                        <!--/reload-->
                        <div class="fc0">
                            <br class="h">
                        </div>
                    </div>
                    <div class="fc0">
                        <br class="h">
                    </div>
                    <div class="bhead"><a class="stat" id="reload" href="?online=1005021"><span class="h">obnovit</span></a></div>
                </div>

                <div id="popup-info" class="h">
                    <div class="popup">
                        <div class="akt">Aktualizace</div>
                        Stránka se obnovuje automaticky každých <span id="nextcheck">20</span>s.
                    </div>
                </div>
                <div class="flink" id="link-data">
                    <!--reload("link-data")-->
                    <div class="fl"><a class="left" href=""></a></div>
                    <div class="fr"><a class="left" href=""></a></div>
                    <!--/reload-->
                </div>
                <div class="fc0">
                    <br class="h">
                </div>
                
                
                

                <div class="col-a" xmlns:fb="http://www.facebook.com/2008/fbml">
                    <div id="on-line" class="vse">
                        <!--#on-line#-->
                        <h2 class="page">SLEDUJTE ŽIVĚ</h2>
                        <div id="on-line-select">
                            <span class="fl">Zobraz jen:</span>
                            <ul>
                                <li>
                                    <img src="http://i.lidovky.cz/10/021/lnnesd/HRN30f17d_dulezite.png" width="15" height="15" border="0" alt="důležité">
                                    <a href="#" class="legend1">Důležité</a></li>
                                <li><a class="vse" href="#">vše</a></li>
                            </ul>
                            <div class="fc0"></div>
                        </div>

                        <div id="on-line-top-wrapper">
                            <!--reload("on-line-top-wrapper")-->
                            <div id="on-line-top">
                                <div class="title">
                                    Vývoj událostí kolem metanolu
                                </div>
                            </div>
                            <!--/reload-->
                        </div>
                        <div id="on-line-wrapper">
                            <!--reload("on-line-wrapper")-->
                            <!--DATA-START-->
                            <div id="on-line-data" class="with-time">
                                <!--event-->
                                <div class="c2 vse ">
                                    <div class="time">13:24</div>
                                    <div class="event"><span>Muž z Opavy, který si koupil alkohol v kamenném obchodě a následně oslepl, pil údajně Hanáckou vodku.</span></div>
                                    <div class="fc0"></div>
                                </div>
                                <!--/event-->
                                <!--event-->
                                <div class="c1 vse ">
                                    <div class="time">13:21</div>
                                    <div class="event">
                                        <span>Policie eviduje v Moravskoslezském kraji v souvislosti s metylalkoholem již devět úmrtí. U sedmi obětí byl metanol prokazatelně potvrzen pitvou, řekl po jednání bezpečnostní rady kraje moravskoslezský policejní ředitel Tomáš Tuhý.
                                        </span>
                                    </div>
                                    <div class="fc0"></div>
                                </div>
                                <!--/event-->
                                <!--event-->
                                <div class="c2 vse ">
                                    <div class="time">13:16</div>
                                    <div class="event"><span>Hejtman Moravskoslezského kraje Jaroslav Palas vidí největší problém v tom, že legislativa nijak nespecifikuje místa, kde se alkohol prodává. Měla by je omezit.</span></div>
                                    <div class="fc0"></div>
                                </div>
                                <!--/event-->
                                <!--event-->
                                <div class="c1 vse ">
                                    <div class="time">13:08</div>
                                    <div class="event"><span>"Policie určitě neselhala, občané měli informaci o pochybném alkoholu ihned", řekl krajský ředitel policie Tomáš Tuhý na brífinku Moravskoslezského kraje. Na otázku, co je pochybný alkohol, však odpovídající přišli s odpovědí, že to lze zjistit pouze řádným rozborem.</span></div>
                                    <div class="fc0"></div>
                                </div>
                                <!--/event-->
                                <!--event-->
                                <div class="c2 vse ">
                                    <div class="time">12:20</div>
                                    <div class="event"><span>Opavan, který po požití alkoholu následně oslepl, si podle dostupných informací zakoupil alkohol v kamenném obchodě. </span></div>
                                    <div class="fc0"></div>
                                </div>
                                <!--/event-->
                                <!--event-->
                                <div class="c1 vse ">
                                    <div class="time">12:03</div>
                                    <div class="event">
                                        <span>Podle informací vládního mluvčího Michala Schustera už zemřelo na otravu 11 osob, 21 je hospitalizováno.
                                        </span>
                                    </div>
                                    <div class="fc0"></div>
                                </div>
                                <!--/event-->
                                <!--event-->
                                <div class="c2 vse ">
                                    <div class="time">11:36</div>
                                    <div class="event"><span>Vláda svolala kvůli otravám krizový štáb.</span></div>
                                    <div class="fc0"></div>
                                </div>
                                <!--/event-->
                                <!--event-->
                                <div class="c1 vse ">
                                    <div class="time">11:28</div>
                                    <div class="event"><span>Kriminalisté v Třebíči prověřují podezření na úmrtí pacienta tamní nemocnice na otravu metylalkoholem. Devětatřicetiletý muž z Třebíče zemřel v neděli. Rozhodující budou výsledky rozboru krve.</span></div>
                                    <div class="fc0"></div>
                                </div>
                                <!--/event-->
                                <!--event-->
                                <div class="c2 vse ">
                                    <div class="time">11:05</div>
                                    <div class="event"><span>Zlínská nemocnice dopoledne přijala pětatřicetiletou ženu. Podle mluvčí krajské nemocnice T.Bati ve Zlíně Karly Havlíkové je hospitalizovaná žena v kritickém stavu.</span></div>
                                    <div class="fc0"></div>
                                </div>
                                <!--/event-->
                                <!--event-->
                                <div class="c1 vse ">
                                    <div class="time">10:52</div>
                                    <div class="event"><span>Na stránkách kyjovské nemocnice a na webu Jihomoravského kraje by měly být k dispozici informace o tom, jak otrava metanolem vypadá a co v případě otravy dělat.</span></div>
                                    <div class="fc0"></div>
                                </div>
                                <!--/event-->
                                <!--event-->
                                <div class="c2 vse ">
                                    <div class="time">10:42</div>
                                    <div class="event">
                                        <span>Policisté ve spolupráci s celníky či hygienou našli na Přerovsku další neoznačené lahve. Zaměřili se na místa, odkud pocházely oběti otrav.
                                        </span>
                                    </div>
                                    <div class="fc0"></div>
                                </div>
                                <!--/event-->
                                <!--event-->
                                <div class="c1 vse ">
                                    <div class="time">10:11</div>
                                    <div class="event"><span>U dvaašedesátileté ženy z Fryštáku, která zemřela v sobotu, pitva potvrdila souvislost s požitím metylalkoholu. V případě jednašedesátileté ženy, kterou našli mrtvou v úterý ráno v jejím bytě na zlínském sídlišti Jižní Svahy, budou výsledky pitvy známé zřejmě dnes po poledni.</span></div>
                                    <div class="fc0"></div>
                                </div>
                                <!--/event-->
                                <!--event-->
                                <div class="c2 vse ">
                                    <div class="time">09:10</div>
                                    <div class="event">
                                        <span>Příbramská nemocnice v noci přijala druhého člověka s otravou metanolem. Jde o 37letého muže v kritickém stavu. Stav prvního se mírně zlepšil.
                                        </span>
                                    </div>
                                    <div class="fc0"></div>
                                </div>
                                <!--/event-->
                                <!--event-->
                                <div class="c1 vse ">
                                    <div class="time">08:40</div>
                                    <div class="event"><span>Stále v kritickém stavu leží v přerovské nemocnici třiasedmdesátiletý muž po otravě metylalkoholem. Dvaapadesátiletá žena je na jednotce intenzivní péče, její stav se ale postupně zlepšuje.</span></div>
                                    <div class="fc0"></div>
                                </div>
                                <!--/event-->
                                <!--event-->
                                <div class="c2 vse ">
                                    <div class="time">08:19</div>
                                    <div class="event">
                                        <span>Zlínská nemocnice v noci na středu přijala další dvě osoby s otravou metanolem. V nemocnici už leží sedm lidí. Dva muži jsou v umělém spánku.
                                        </span>
                                    </div>
                                    <div class="fc0"></div>
                                </div>
                                <!--/event-->
                                <!--event-->
                                <div class="c1 vse ">
                                    <div class="time">07:43</div>
                                    <div class="event">
                                        <span>Ve znojemské nemocnici zemřel v úterý před půlnocí na otravu metanolem 42letý muž z Havířovska. Hospitalizován byl od soboty, je 9. obětí v ČR.
                                        </span>
                                    </div>
                                    <div class="fc0"></div>
                                </div>
                                <!--/event-->
                                <!--event-->
                                <div class="c2 vse ">
                                    <div class="time">00:30</div>
                                    <div class="event">
                                        <span>Hygiena vyslala na mimořádné kontroly kvůli metanolu asi 200 lidí

                                        </span>
                                    </div>
                                    <div class="fc0"></div>
                                </div>
                                <!--/event-->
                                <div class="fc0"></div>
                            </div>
                            <div class="fc0"></div>
                            <!--DATA-END-->
                            <!--/reload-->
                        </div>
                    </div>
                </div>
                

                <div class="col-b" xmlns:fb="http://www.facebook.com/2008/fbml">
                    <div class="b-box-2">
                        <h2><span>Nepřehlédněte</span></h2>
                        <div id="on-line-add-top-content">
                            <!--
                                reload("on-line-add-top-content")
                                -->
                            <ul class="arts-1">
                                <li><a href="http://www.lidovky.cz/vypada-to-na-jeden-zdroj-rika-policie-vyrobce-jedovateho-alkoholu-nema-1zp-/ln_domov.asp?c=A120911_230055_ln_domov_mpr">Vypadá to na jeden zdroj, říká policie. Výrobce jedovatého alkoholu nemá </a></li>
                                <li><a href="http://byznys.lidovky.cz/dovoz-metanolu-do-ceska-roste-od-roku-1999-se-ztrojnasobil-pkh-/firmy-trhy.asp?c=A120911_162727_firmy-trhy_rka">Dovoz metanolu do Česka roste. Od roku 1999 se ztrojnásobil </a></li>
                                <li><a href="http://www.lidovky.cz/v-polsku-zemreli-dva-lide-po-poziti-neznameho-alkoholu-pgp-/ln_zahranici.asp?c=A120911_162114_ln_zahranici_jv">Alkohol zabíjel i v Polsku. Na jihovýchodě zemřeli dva lidé </a></li>
                                <li><a href="http://www.lidovky.cz/policejni-razie-pancovany-alkohol-objevila-v-nekolika-prodejnach-py8-/ln_domov.asp?c=A120910_214543_ln_domov_sk">Policejní razie: pančovaný alkohol objevila v několika prodejnách </a></li>
                            </ul>
                            <div class="fc0"></div>
                            <!--/reload-->
                        </div>
                    </div>
                    <div class="b-box-3">
                        <h2><span>Související</span></h2>
                        <div id="on-line-add-mid-content">
                            <!--
                                reload("on-line-add-mid-content")
                                -->
                            <div class="art trafika"><a href="http://www.lidovky.cz/metanol-zabiji-vetsinou-mezi-chudymi-dwt-/ln_domov.asp?c=A120911_164050_ln_domov_ase">
                                                         <img src="http://i.lidovky.cz/12/091/lnmala/MC45c100_p201209080451901.jpg" alt="Žádní bezdomovci. Jeden z otrávených se napil na návštěvě"></a><h3><a href="http://www.lidovky.cz/metanol-zabiji-vetsinou-mezi-chudymi-dwt-/ln_domov.asp?c=A120911_164050_ln_domov_ase">Žádní bezdomovci. Jeden z otrávených se napil na návštěvě</a></h3>
                                <div class="fc0"></div>
                                <a href="http://www.lidovky.cz/obrazem-kteremu-alkoholu-se-vyhnout-podivejte-se-f7y-/ln_domov.asp?c=A120911_162250_ln_domov_ape">
                                    <img src="http://i.lidovky.cz/12/092/lnmala/PTA45cc85_etiketa.jpg" alt="OBRAZEM: Policie vydala seznam podezřelého alkoholu"></a><h3><a href="http://www.lidovky.cz/obrazem-kteremu-alkoholu-se-vyhnout-podivejte-se-f7y-/ln_domov.asp?c=A120911_162250_ln_domov_ape">OBRAZEM: Policie vydala seznam podezřelého alkoholu</a></h3>
                                <div class="fc0"></div>
                                <a href="http://www.lidovky.cz/pomoc-pri-otrave-metylalkoholem-panak-kvalitniho-alkoholu-po7-/ln-video.asp?c=A120910_182818_ln-video_sk">
                                    <img src="http://i.lidovky.cz/11/011/lnmala/GLU38480b_komunista1.jpg" alt="Pomoc při otravě metylalkoholem? Panák kvalitního alkoholu"></a><h3><a href="http://www.lidovky.cz/pomoc-pri-otrave-metylalkoholem-panak-kvalitniho-alkoholu-po7-/ln-video.asp?c=A120910_182818_ln-video_sk">Pomoc při otravě metylalkoholem? Panák kvalitního alkoholu</a></h3>
                                <div class="fc0"></div>
                            </div>
                            <div class="fc0"></div>
                            <!--/reload-->
                        </div>
                    </div>
                    <object width="490" height="300">
                        <param name="movie" value="http://gidnes.cz/swf/flv/player.swf"></param>
                        <param name="flashvars" value="configURL=http://servix.idnes.cz/media/video.aspx?idVideo=V120910_123520_tv-zpravy_sha"></param>
                        <param name="allowfullscreen" value="true"></param>
                        <param name="allowscriptaccess" value="always"></param>
                        <embed src="http://gidnes.cz/swf/flv/player.swf" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="300" height="171" flashvars="configURL=http://servix.idnes.cz/media/video.aspx?idVideo=V120910_123520_tv-zpravy_sha"></embed></object>
                </div>
                <div id="copyright" class="h" xmlns:fb="http://www.facebook.com/2008/fbml"></div>
                <!--nextCheck(17)-->
                <!--nextChat(30)-->

            </div>
        </div>
        

        <div class="col-d">
            <div class="box-special">
                <div class="text-s">
                    <h3><a href="http://trener.lidovky.cz">Trénér týmu</a></h3>
                    <p class="per-s"><a href="http://trener.lidovky.cz">Trenérem můžeš být i ty!</a></p>
                </div>
                <div class="img-s">
                    <a href="http://trener.lidovky.cz">
                        <img alt="" src="http://i.lidovky.cz/12/082/lnnesd/ACE453fd9_trener_lnnesd.jpg"></a><p class="inf-s">Tipovací soutěž serveru Lidovky.cz pro fanoušky fotbalu.</p>
                </div>
            </div>
            <div class="fca">
                <br class="h">
            </div>

        </div>
        <div class="fc0"></div>
    </div>






</body>
</html>
